[submodule "tmpl/server/php/thinkphp"]
	path = tmpl/server/php/thinkphp
	url = https://github.com/go-craft/tmpl-server-php-thinkphp
[submodule "tmpl/server/php/laravel"]
	path = tmpl/server/php/laravel
	url = https://github.com/go-craft/tmpl-server-php-laravel
[submodule "tmpl/client/cpp/qt5"]
	path = tmpl/client/cpp/qt5
	url = https://github.com/go-craft/tmpl-client-cpp-qt5
[submodule "tmpl/client/java/android"]
	path = tmpl/client/java/android
	url = https://github.com/go-craft/tmpl-client-java-android
[submodule "tmpl/client/rust/reqwest"]
	path = tmpl/client/rust/reqwest
	url = https://github.com/go-craft/tmpl-client-rust-reqwest
[submodule "tmpl/server/go/goframe"]
	path = tmpl/server/go/goframe
	url = https://github.com/go-craft/tmpl-server-go-goframe
[submodule "tmpl/server/go/gin"]
	path = tmpl/server/go/gin
	url = https://github.com/go-craft/tmpl-server-go-gin
[submodule "example"]
	path = example
	url = https://github.com/go-craft/example
[submodule "doc"]
	path = doc
	url = https://github.com/go-craft/doc
[submodule "tmpl/schema/mysql"]
	path = tmpl/schema/mysql
	url = https://github.com/go-craft/tmpl-schema-mysql
[submodule "tmpl/schema/pgsql"]
	path = tmpl/schema/pgsql
	url = https://github.com/go-craft/tmpl-schema-pgsql
[submodule "tmpl/schema/tdengine"]
	path = tmpl/schema/tdengine
	url = https://github.com/go-craft/tmpl-schema-tdengine
[submodule "module/server/go/goframe"]
	path = module/server/go/goframe
	url = git@github.com:go-craft/module-server-go-goframe.git
